<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name ="MailSettings" type ="System.Configuration.NameValueSectionHandler" />
	</configSections>

	<MailSettings>
		<add key ="Server" value ="smtp.gmail.com"/>
		<add key ="Port" value ="587"/>
		<add key ="FromName" value ="AppTelemarketing"/>
		<add key ="FromEmail" value ="testeogrupo6programacion2@gmail.com"/>
		<add key ="UserName" value ="testeogrupo6programacion2@gmail.com"/>
		<add key ="Password" value ="bldk qckr ivfl ffxc"/>
	</MailSettings>
	
	<!--lo siguiente es la referencia al acceso de la conexion con els ervidor
	      sql, el providerName es algo meramente informativo
		  lo que importa aqui es el connectionString, el que 
		  pódemos modificar en lugar de hacerlo a lo cargo del codigo
		  se hace solo una vez aqui-->

	<connectionStrings>
		<add name="ConnString"
			 providerName="System.Data.SqlClient"
			 connectionString="Data Source=sql.bsite.net\MSSQL2016;
                           Initial Catalog=callcenter_CallCenterDB;
                           User ID=callcenter_CallCenterDB;
                           Password=callcenter2025;
                           Connect Timeout=30" />
	</connectionStrings>


</configuration>